<!DOCTYPE html>
<html>
<head>
    <title>Users</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <ul>
            <li>Locker Id <%=@locker_id%></li>
            <% @items.each do |item| %>
                <% if  item.locker_id == @locker_id  %>
                    <li>&nbsp;&nbsp;&nbsp;<%=item.item_name %> <button class='btn btn-primary'>Delete</button></li>
                <% end %>
            <% end %>

    </ul>

    
     

</body>
</html> 